*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this define what 1rem is
  /* font-size: 10px; */
  font-size: 62.5%;
  /*
    10/16= 0.625-> 62.5%
    ||
    0.625*16 = 10px default
  */
}
